
# üêç Python Data Structures

**Instructor Note:**  
This notebook covers the **Big Three** of data organization: **Tuples, Sets, and Dictionaries**.

## 1. Tuples: The "Read-Only" Data

A Tuple is an ordered, immutable collection. Think of it as a **"Locked List."**  
Once you write data into it, no one can change it, delete it, or rearrange it.

### üè¢ Real-World Use Case: Database Records

When you fetch a user‚Äôs birthdate or a transaction ID from a database, you store it in a tuple to ensure the code doesn't accidentally change a customer's ID during a calculation.

In [1]:
tuple_example = ("Maysha", "123")

In [2]:

# A record of a bank transaction (Transaction_ID, Amount, Currency)
transaction_1 = ("TXN_55021", 1500.75, "BDT")

# 1. Unpacking (A very powerful feature)
txn_id, amount, currency = transaction_1

print(f"ID: {txn_id} | Amount: {amount} {currency}")

ID: TXN_55021 | Amount: 1500.75 BDT

In [3]:

# 2. Why Tuples? Performance!
# Tuples are faster than lists because Python knows they won't change.
import sys

list_ex = [1, 2, 3, 4, 5]
tuple_ex = (1, 2, 3, 4, 5)

print(f"Memory size of List: {sys.getsizeof(list_ex)} bytes")
print(f"Memory size of Tuple: {sys.getsizeof(tuple_ex)} bytes")

Memory size of List: 104 bytes
Memory size of Tuple: 80 bytes

In [4]:
val=2
list1=[1,2,3,1,2,3,1]

# last occurence of val
ind=-1

for i in range(len(list1)-1 , -1 ,-1 ):
   if list1[i] == val :
      ind=i
      break
print(ind)

4

In [5]:
# list min , max ,avg , first occ , last occ

In [6]:
list1.count(1)

3

In [7]:
list1.count(2)

2

In [8]:
list1.index(3)

2

In [9]:
tuple=(1,2,3,1)
print(tuple.count(1))
print(tuple.index(1))

2
0


### üõ†Ô∏è Common Tuple Methods
- `.count(x)` ‚Üí How many times does x appear?
- `.index(x)` ‚Üí Where is the first x located?

In [10]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)


if 111 in my_tuple :
  print(my_tuple.index(111))
else :
  print("Not present")

Not present


---
## 2. Sets: The "Logic" Collections

A Set is an unordered collection of **unique items**.  
It‚Äôs based on **mathematical Set Theory**.

### üåê Real-World Use Case: Digital Marketing & NLP

If you have a list of 10,000 email subscribers and you buy another list, you don't want to send duplicate emails to the same person. Sets handle this instantly.

In [11]:
# Company owner

old_email_list =["xyz@gmail.com" ,"abc@gmail.com","abc@gmail.com" ]
new_email_list= [ "abc@gmail.com" , "fdsfds@gmail.com"]

old_email_set=set(old_email_list)
new_email_set=set(new_email_list)

print(old_email_set)
print(new_email_set)

{'abc@gmail.com', 'xyz@gmail.com'}
{'fdsfds@gmail.com', 'abc@gmail.com'}

In [12]:
#operations of set
# union  {1,2,3,4} U {1,2,5,6,7} -> {1,2,3,4,5,6,7}
# intersection {1,2,3,4 ,5 } intersection {1,2,5,6,7} -> {1,2,5}
# {1,2,3,4 ,5 } difference {1,2,5,6,7} -> {3,4}

In [13]:

# Newsletter Subscriber Lists
old_subscribers = {"rahim@email.com", "karim@email.com", "sara@email.com"}
new_subscribers = {"sara@email.com", "john@email.com", "doe@email.com"}

# 1. Automatic Deduplication
all_unique_emails = old_subscribers.union(new_subscribers) # Union
print(f"Total Unique Emails: {all_unique_emails}")

# 2. Finding Common Interests (Intersection)
returning_users = old_subscribers.intersection(new_subscribers)
print(f"Users who re-subscribed: {returning_users}")

# 3. Finding Differences
new_leads = new_subscribers.difference(old_subscribers)
print(f"Purely new leads: {new_leads}")

Total Unique Emails: {'sara@email.com', 'doe@email.com', 'karim@email.com', 'rahim@email.com', 'john@email.com'}
Users who re-subscribed: {'sara@email.com'}
Purely new leads: {'doe@email.com', 'john@email.com'}

### üïµÔ∏è Another Set Use Case: Membership Testing and Uniqueness Check

Sets provide very fast membership testing (`in` keyword) and are ideal for quickly checking if an item is present or for ensuring all items in a collection are unique.

In [14]:
set1={"banana","orange","apple"}

if "banana" in set1 :
  print("present")
else :
  print("not present")

present

In [15]:
# 1. Fast Membership Testing (e.g., checking allowed actions)
allowed_actions = {"read", "write", "delete", "execute"}
user_request = "write"

if user_request in allowed_actions:
    print(f"Action '{user_request}' is allowed.")
else:
    print(f"Action '{user_request}' is not allowed.")

Action 'write' is allowed.

In [16]:
# 2. Checking for uniqueness in a list
product_ids = [101, 105, 101, 203, 105, 300]
unique_product_ids = set(product_ids)

print(f"Original Product IDs: {product_ids}")
print(f"Unique Product IDs: {unique_product_ids}")
print(f"Are all original product IDs unique? {len(product_ids) == len(unique_product_ids)}")

Original Product IDs: [101, 105, 101, 203, 105, 300]
Unique Product IDs: {105, 203, 300, 101}
Are all original product IDs unique? False

In [18]:
# set1.remove("Y")

In [17]:
set1={"banana","orange","apple"}
print(set1.pop())

apple


### üõ†Ô∏è Set Methods to Remember
- `.add()` ‚Üí Insert one item  
- `.remove()` ‚Üí Remove an item (error if not found)  
- `.discard()` ‚Üí Safe remove (no error)  
- `.pop()` ‚Üí Removes a random item

In [19]:
# Example Set
my_set = {10, 20, 30}
print(f"Initial Set: {my_set}")

# 1. Using .add()
# Adds a single element to the set.
my_set.add(40)
print(f"After .add(40): {my_set}")
my_set.add(20) # Adding an existing element has no effect
print(f"After .add(20) again: {my_set}")

# 2. Using .remove()
# Removes a specified element from the set. Raises a KeyError if the element is not found.
my_set.remove(10)
print(f"After .remove(10): {my_set}")
# my_set.remove(100) # This would raise a KeyError

# 3. Using .discard()
# Removes a specified element from the set if it is present. Does NOT raise an error if the element is not found.
my_set.discard(30)
print(f"After .discard(30): {my_set}")
my_set.discard(100) # No error, 100 is not in the set
print(f"After .discard(100): {my_set}")

# 4. Using .pop()
# Removes and returns an arbitrary (random) element from the set.
# Raises a KeyError if the set is empty.
popped_element = my_set.pop()
print(f"After .pop(): {my_set}, Popped element: {popped_element}")

# Clear the set
my_set.clear()
print(f"After .clear(): {my_set}")

Initial Set: {10, 20, 30}
After .add(40): {40, 10, 20, 30}
After .add(20) again: {40, 10, 20, 30}
After .remove(10): {40, 20, 30}
After .discard(30): {40, 20}
After .discard(100): {40, 20}
After .pop(): {20}, Popped element: 40
After .clear(): set()


---
## 3. Dictionaries: The "Search Engine" Data

Dictionaries store data in **Key : Value** pairs.  
They are the backbone of modern APIs and JSON-based systems.

### üçî Real-World Use Case: Food Delivery App

In [20]:
UserData ={
    "Name":"Tahmid",
    "Education": "NDC",
    "Education":"IUT"
}
UserData

{'Name': 'Tahmid', 'Education': 'IUT'}

In [21]:
UserData.values()

dict_values(['Tahmid', 'IUT'])

In [22]:
UserData.items()

dict_items([('Name', 'Tahmid'), ('Education', 'IUT')])

In [23]:

# A Nested Dictionary (Dictionary inside a Dictionary)
restaurant_menu = {
    "Burger": {"price": 250, "stock": 10, "veg": False},
    "Pizza": {"price": 800, "stock": 5, "veg": False},
    "Pasta": {"price": 350, "stock": 0, "veg": True}
}

In [24]:
restaurant_menu["Burger"]

{'price': 250, 'stock': 10, 'veg': False}

In [25]:
# A Nested Dictionary (Dictionary inside a Dictionary)
restaurant_menu = {
    "Burger": {"price": 250, "stock": 10, "veg": False},
    "Pizza": {"price": 800, "stock": 5, "veg": False},
    "Pasta": {"price": 350, "stock": 0, "veg": True}
}

# Accessing data safely
item = "Pasta"
print(f"Price of {item}: {restaurant_menu[item]['price']} BDT") # 350

# Checking availability
if restaurant_menu[item]['stock'] > 0:
    print("Available for Order!")
else:
    print("Out of Stock!")

# Updating values
restaurant_menu["Burger"]["price"] = 270

Price of Pasta: 350 BDT
Out of Stock!

In [26]:
restaurant_menu.values()

dict_values([{'price': 270, 'stock': 10, 'veg': False}, {'price': 800, 'stock': 5, 'veg': False}, {'price': 350, 'stock': 0, 'veg': True}])


### üõ†Ô∏è Dictionary Methods
- `.keys()`  
- `.values()`  
- `.items()`  
- `.update()`  
- `.pop()`


---
## üìå Summary Table for Revision

| Data Structure | Symbols | Mutable? | Ordered? | Unique? | Use Case |
|---------------|---------|----------|----------|---------|---------|
| List | [] | Yes | Yes | No | Dynamic data |
| Tuple | () | No | Yes | No | Fixed records |
| Set | {} | Yes | No | Yes | Deduplication |
| Dictionary | {k:v} | Yes | Yes* | Keys Only | APIs, JSON |